In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline
import os

In [47]:
dataset = pd.read_csv('lottery_data.csv')

In [48]:
dataset.head()

         date weekday winning_numbers  powerball  powerplay    jackpot
0  2014-05-07     Wed  17-29-31-48-49         34          2   70000000
1  2014-05-10     Sat   4-31-41-47-55          1          2   90000000
2  2014-05-14     Wed   7-33-39-52-55         33          3   90000000
3  2014-05-17     Sat  23-32-39-47-49         22          3  114000000
4  2014-05-21     Wed   4-20-34-39-58         31          5  114000000

In [49]:
for i in dataset['date']:
    y = i.split("-")
    temp = int(y[0]+y[1]+y[2])
    dataset = dataset.replace(i,temp)

In [50]:
dataset = pd.get_dummies(dataset, columns = ['weekday'], drop_first = True)

In [51]:
dataset.head()

,date,winning_numbers,powerball,powerplay,jackpot,weekday_Sat,weekday_Wed
0,20140507,17-29-31-48-49,34,2,70000000,0,1
1,20140510,4-31-41-47-55,1,2,90000000,1,0
2,20140514,7-33-39-52-55,33,3,90000000,0,1
3,20140517,23-32-39-47-49,22,3,114000000,1,0
4,20140521,4-20-34-39-58,31,5,114000000,0,1

In [52]:
for i in dataset['winning_numbers']:
    y = i.split("-")
    temp = str()
    for j in y:
        temp += j
    dataset = dataset.replace(i,temp)

In [53]:
dataset.head()

,date,winning_numbers,powerball,powerplay,jackpot,weekday_Sat,weekday_Wed
0,20140507,1729314849,34,2,70000000,0,1
1,20140510,431414755,1,2,90000000,1,0
2,20140514,733395255,33,3,90000000,0,1
3,20140517,2332394749,22,3,114000000,1,0
4,20140521,420343958,31,5,114000000,0,1

In [55]:
dataset.isnull().sum()

date               0
winning_numbers    0
powerball          0
powerplay          0
jackpot            0
weekday_Sat        0
weekday_Wed        0
dtype: int64

In [56]:
dataset['target'] = dataset['jackpot']

In [58]:
dataset = dataset.drop(['jackpot'],axis = 1)

In [59]:
dataset.head()

,date,winning_numbers,powerball,powerplay,weekday_Sat,weekday_Wed,target
0,20140507,1729314849,34,2,0,1,70000000
1,20140510,431414755,1,2,1,0,90000000
2,20140514,733395255,33,3,0,1,90000000
3,20140517,2332394749,22,3,1,0,114000000
4,20140521,420343958,31,5,0,1,114000000

In [60]:
#independent and dependent variables
X = dataset.iloc[:,:-1]
y = dataset['target']

In [61]:
X.head()

       date winning_numbers  powerball  powerplay  weekday_Sat  weekday_Wed
0  20140507      1729314849         34          2            0            1
1  20140510       431414755          1          2            1            0
2  20140514       733395255         33          3            0            1
3  20140517      2332394749         22          3            1            0
4  20140521       420343958         31          5            0            1

In [62]:
y.head()

0     70000000
1     90000000
2     90000000
3    114000000
4    114000000
Name: target, dtype: int64

In [63]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [64]:
#train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [66]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

C:\Users\Mritunjay Sharma\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:438: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(

In [69]:
import pickle
pickle.dump(scaler,open('scaling.pkl','wb'))

In [71]:
#model
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()

In [72]:
params = {
    'alpha' : [1e-10,1e-5,1e-2,0.01, 0.1, 1, 10, 100, 1000]
}

In [73]:
lin_reg.fit(X_train,y_train)

LinearRegression()

In [74]:
y_pred = lin_reg.predict(X_test)

In [75]:
from sklearn.metrics import accuracy_score, r2_score

In [76]:
print(r2_score(y_testy_pred,))

-1.3859009857867473